.container {
    height: 100%;
    width: 100%;
    background-color: teal;
    color: whitesmoke;
    display: flex;
    flex : 1;
    justify-content: center;
    justify-items: center;
    align-items: center;
    box-sizing: border-box;
    padding: 0 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font: bold;
}
#kotak1 {
    display: flex;
    flex: 1;
    justify-content: center;
}
#kotak2 {
    display: flex;
    flex-direction: column;
    flex: 1;    
    justify-content : center;
    justify-items: center;  
    height: 100%;
    width: 100%;
}
h1 {
    background-color: white;
    color: black;
    height: 50px;
    width: 300px;
}
h2 {

}
h3 {
    color: black;
}
button {
    cursor: pointer;
    width: auto;
    height: auto; 
}
button:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}